In [33]:
"""
Your task is to create a Python script that analyzes the records to calculate each of the following:

The total number of months included in the dataset.

The net total amount of Profit/Losses over the entire period.

The average of the changes in Profit/Losses over the entire period.

The greatest increase in profits (date and amount) over the entire period.

The greatest decrease in losses (date and amount) over the entire period.

Your resulting analysis should look similar to the following:

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)


Your final script should print the analysis to the terminal and export a text file with the results.
"""

'\nYour task is to create a Python script that analyzes the records to calculate each of the following:\n\nThe total number of months included in the dataset.\n\nThe net total amount of Profit/Losses over the entire period.\n\nThe average of the changes in Profit/Losses over the entire period.\n\nThe greatest increase in profits (date and amount) over the entire period.\n\nThe greatest decrease in losses (date and amount) over the entire period.\n\nYour resulting analysis should look similar to the following:\n\nFinancial Analysis\n----------------------------\nTotal Months: 86\nTotal: $38382578\nAverage  Change: $-2315.12\nGreatest Increase in Profits: Feb-2012 ($1926159)\nGreatest Decrease in Profits: Sep-2013 ($-2196167)\n\n\nYour final script should print the analysis to the terminal and export a text file with the results.\n'

In [3]:
# import modules for csv file
from pathlib import Path
import csv
import pandas as pd
import numpy as np

In [6]:
# set path for csv file
csvpath = Path("./budget_data.csv")

In [48]:
# read the csv into a dataframe using Pandas
budget_dataframe = pd.read_csv(csvpath)

In [49]:
# read the csv file
budget_dataframe

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [50]:
# generate statistics for whatever it helps
round(budget_dataframe.describe(),2)

       Profit/Losses
count          86.00
mean       446309.05
std        536357.95
min      -1196225.00
25%        182162.00
50%        570328.00
75%        795226.25
max       1170593.00

In [51]:
#calculate total months in whatever means as I don't know how to do it in Pandas...yet
total_number_of_months = 0
with open(csvpath) as csvfile:
    csvreader = csv.reader(csvfile,delimiter=',')
    # print(csvreader)
    header = next(csvreader)
    # Read each row of data after the header    
    for row in csvreader:
        
        # count months        
        total_number_of_months += 1

In [52]:
total_number_of_months

86

In [53]:
# calculate total months
total_number_of_months = budget_dataframe['Date'].count()

In [54]:
total_number_of_months

86

In [55]:
# calculate total profit/losses
total_profit_losses = budget_dataframe["Profit/Losses"].sum()

In [56]:
total_profit_losses

38382578

In [57]:
# calculate the average, greatest increase/decrease
counter = 0
change = []
profit_losses_list = list(budget_dataframe['Profit/Losses'])
date = ""
for i in range(len(budget_dataframe)-1):
    start_month = profit_losses_list[i]
    next_month = profit_losses_list[i+1]
    change.append(next_month-start_month)
    counter = sum(budget_dataframe['Profit/Losses'])
    greatest_decrease = min(change)
    greatest_increase = max(change)  
    average_change = round(np.mean(change),2)

In [58]:
# run to check
average_change

-2315.12

In [59]:
greatest_decrease

-2196167

In [60]:
greatest_increase

1926159

In [61]:
print(f"\nFinancial Analysis\n---------------------\n")
print(f"Total Months: {total_number_of_months}\n")
print(f"Total: ${total_profit_losses}\n")
print(f"Average  Change: ${average_change}\n")
print(f"Greatest Increase in Profits: ${greatest_increase}\n")
print(f"Greatest Decrease in Profits: ${greatest_decrease}\n")

Financial Analysis
---------------------

Total Months: 86

Total: $38382578

Average  Change: $-2315.12

Greatest Increase in Profits: $1926159

Greatest Decrease in Profits: $-2196167